# Bazel build outputs (generated)
bazel-*

# VS Code local files (keep settings.json tracked)
.vscode/*
!.vscode/settings.json

# macOS junk
.DS_Store

# Node / Web dependencies
node_modules/

# Next.js build output
.next/
out/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env*
